body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 100px;
    background-color: #121212; /* Set the background color to black */
    color:white;
    min-height: 1280px;
    font-family: 'Domine', serif;
}

/* misc embeddings */
iframe {
    width: 100vh;
    height: 100vh;
    display: block;
    border: 0px;
    margin: auto;
}

embed {
    width:100vh;
    height: 70vh;
}

.two-graphs {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

/* Style the dropdown button */
.dropdown {
    text-align: center;
}

.dropbtn {
    background-color: #333;
    color: lightgray;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    font-family: 'Domine', serif;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the dropdown button is clicked */
.show {
    display: block;
}


img {
    border-radius: 1%;
    width: 100%; /* Set the image width to 100% of the div's width */
    height: 100%; /* Set the image height to 100% of the div's height */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

.wrap {
    float: left; 
    margin: 5px;
}

.face-img {
    width: 25%;
    height: 25%;
    margin-right: 15px;
    border-radius: 5%;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container {
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title-text-container {
    flex: 1;
}

.title-text-overlapping {
    position: relative;
    flex-shrink: 2;
    font-size: 3em;
    font-family: 'Domine', serif;
}

.title-text-main-hidden {
    visibility: hidden;
}

.title-text-static {
    flex-grow: 1;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}

.title-text-author-date {
    font-size: 1.5em;
}

.title-text-main {
    position: absolute; /* Adjust the left position as needed to overlap the image */
    top: 0px;
    left: 0px;
}

.title-image-container {
    flex: 3;
    overflow: hidden; /* Hide any content that overflows the div */
}

.title-image {
    left: -100px;
    width: 100%; /* Set the image width to 100% of the div's width */
    height: 100%; /* Set the image height to 100% of the div's height */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}
/* important quote */
.quote-container {
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 2%;
    margin-bottom: 40%;
}

.quote {
    font-size: 2em;
    text-align: center;
}

.quotename {
    margin-top: -5px;
    font-size: 1.2em;
}

/* ressa intro styles */
.ressa-image {
    width: 100%; /* Set the image width to 100% of the div's width */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

/* title image container */
.text-image-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}

.text-container {
    flex: 1;
    margin-right: 40px;
    margin-left: 40px;
}

.text-container p{
    padding: 1rem;
    font-size: 1.2em;
    line-height: 1.5em;
    color: lightgrey;
}

.image-container {
    flex: 1;
    overflow: hidden; /* Hide any content that overflows the div */
}

.data-ressa-image {
    width: 100%; /* Set the image width to 100% of the div's width */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

.intersection-image {
    width: 100%; /* Set the image width to 100% of the div's width */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

/* normal text */
.normal {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1.5em;
    font-size: 20px;
    line-height: 1.3em;
    color: lightgray;
}

.heading-1 {
    margin-top: 2em;
    line-height: 1.3em;
    font-weight: 300;
    color: white;
    text-align: center;
}

.heading-2 {
    text-align: center;
    font-size: 1.8em;
}

/* wide for images and other things */
.wide {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* image with text on the side */
.image-text-row {
    display: flex;
}

/* pop out box */
.box {
    border: 1px solid white;
    padding-top: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    border-radius: 5%;
}

.box-title {
    text-decoration: underline;
}

/* Start of scrolling */

.scrolly {
    margin: 40px;
    margin-bottom: 0px;
    position: relative;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    padding-right: 10%;
    padding-left: 10%;
}

/* .scrolly>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
} */

.scrolly article {
    /* flex-shrink: 2; */
    position: relative;
    padding: 0 1rem;
    max-width: 35rem;
    margin-left: 40%;
}

#scrolly1 article {
    margin-left: 40%;
}

#scrolly2 article {
    margin-left: 40%;
}

.scrolly figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
}

.scrolly figure img {
    height: 100%; /* Set the image height to 100% of the div's height */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

/* can delete */
figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.step {
    margin: 0 auto 2rem auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgray;
    margin-top: 30%;
    margin-bottom: 30%;
    border-radius: 1%;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgray;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black ;
}

.step p {
    text-align: left;
    padding: 1rem;
    line-height: 1.5em;
    font-size: 1.1rem;
    opacity: 1;
}

/* side scrolly */
.side-scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    margin-bottom: 0px;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    padding-right: 5%;
    padding-left: 5%;
}

.side-scrolly>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.side-figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
    margin-right: 1em;
}

.willie-image {
    width: 100%; /* Set the image width to 100% of the div's width */
    object-fit: cover; /* Maintain aspect ratio while covering the div */
}

.side-step {
    margin: 0 auto 2rem auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgray;
    margin-top: 30%;
    margin-bottom: 30%;
    border-radius: 1%;
}

.side-step:last-child {
    margin-bottom: 0;
}

.side-step.is-active {
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgray;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black ;
}

.side-step p {
    text-align: left;
    padding: 1rem;
    line-height: 1.5em;
    font-size: 1.1rem;
    opacity: 1;
}


.scrolly-gap {
    padding-top: 100px;
}

.facebook {
    display: flex;
    flex-direction: column;
}

.facebook-first {
    display: flex;
}

.facebook-second p {
    margin: 0;
    margin-right: 10%;
    margin-left: 10%;
}


.why-facebook {
    text-decoration: underline;
    text-align: left;
}