/* Apply animation to the bars for a menu-like effect */
#menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

